.card {
	margin-top: 70px;
    width: 400px;
    height: 360px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}



.form-row {
    margin-top: 20px;
    margin-bottom: 30px;
}

.under-link {
    color: black;
}